<li class="collection-card">
    <div class="image">
        <img src="{{ collection.image | image_url: width: 600 }}" alt="{{ collection.image.alt }}" />
    </div>
    <div class="title">
        {{ collection.title }}
    </div>
</li>