<div class="color-mode-switch">
    <div class="light-mode-icon">
        {% render 'icon--light-mode' %}
    </div>
    <div class="dark-mode-icon">
        {% render 'icon--dark-mode' %}
    </div>
</div>