.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;

    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 32s linear infinite;
        border-top: var(--border-width) solid var(--white);
        border-bottom: var(--border-width) solid var(--white);
    }
    
    .content {
        font-family: var(--header-font);
        line-height: 1;
        padding: 10px 0 12px 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 24px;

        img {
            width: auto;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center; 
        }
    }

    @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
    }
      
}