.hero-banner {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    display: block;

    img {
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: center center;
    }

    .banner-text {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }
}