.testimonials-row {

    .top {
        display: flex;
        flex-direction: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 0 20px 0; 

        .title {
    
        }

        .slide-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            .slide-control {
                width: 40px;
                height: 40px;
                border: var(--border-width) solid var(--white);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            svg {
                width: 12px;

                path {
                    stroke: var(--white);
                }
            }
        }

    }

    .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding: 10px;
        border: var(--border-width) solid var(--white);
        border-collapse: collapse;  
        height: auto;
    }


    /* Testimonial Scripts */
    .testimonial-swiper--desktop {
        display: block;
    }

    .testimonial-swiper--mobile {
        display: none;
    }

}

@media screen and (max-width: 767px) {
	.testimonials-row {
		
        .testimonial-swiper--desktop {
            display: none;
        }
    
        .testimonial-swiper--mobile {
            display: block;
        }
        
	}
}