<div class="footer-row">
    {% if section.settings.copyright_selector == true %}
        {{ 'Copyright &copy;' }} {{ "now" | date: "%Y" }}
    {% endif %}
</div>

{% schema %}
    {
      "name": "Footer",
      "tag": "footer",
      "class": "footer-section",
      "limit": 1,
      "settings": [
        {
            "type": "select",
            "id": "footer_selection",
            "label": "Footer Layout",
            "options": [
                {
                    "value": "left_logo",
                    "label": "Left Logo"
                },
                {
                    "value": "center_logo",
                    "label": "Center Logo"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "site_logo",
            "label": "Logo"
        },
        {
          "type": "textarea",
          "id": "site_description",
          "label": "Site Description"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Attribution"
        },
        {
            "type": "checkbox",
            "id": "copyright_selector",
            "label": "Show Copyright"
        },
        {
            "type": "range",
            "id": "side_padding",
            "label": "Side Padding",
            "min": 0,
            "max": 24,
            "step": 1,
            "default": 12
        },
        {
            "type": "range",
            "id": "bottom_margin",
            "label": "Space Below",
            "default": 60,
            "min": 0,
            "max": 100,
            "step": 1
        }
      ],
      "blocks": [
        {
            "type": "menu",
            "name": "Menu",
            "limit": 2,
            "settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Footer"
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}
    