{% case section.settings.header_layout %}

  {% when 'center_logo' %}
    {{ 'header--center-logo.css' | asset_url | stylesheet_tag }}
  {% when 'left_logo' %}
  {% when 'center_logo_minimal' %}
  {% when 'left_logo_minimal' %}

{% endcase %}

{% case section.settings.header_layout %}

  {% when 'center_logo' %}
    <div class="header--center-logo header-row">

      <div class="header-left">
        {% render 'color-mode-switch' %}
        {% render 'site-nav', selected_menu: section.settings.desktop_menu %}
      </div>

      <div class="header-center">
        {% if settings.header_logo %}
          <img src="{{ settings.header_logo | image_url: width: '500' }}" alt="{{ site.name }}" />
        {% else %}
          <span class="text-logo">{{ shop.name }}</span>
        {% endif %}
      </div>

      <ul class="header-right">
        <li>{% render 'icon--search' %}</li>
        <li>{% render 'icon--account' %}</li>
        <li>{% render 'mini-cart' %}</li>
      </ul>

    </div>

  {% when 'left_logo' %}
    <div class="header--left-logo header-row">

    </div>

  {% when 'center_logo_minimal' %}
    <div class="header--minimal-center-logo header-row">
      
    </div>

  {% when 'left_logo_minimal' %}
    <div class="header--minimal-left-logo header-row">

    </div>

{% endcase %}


{% schema %}
    {
      "name": "Header",
      "tag": "header",
      "class": "header",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "desktop_menu",
          "label": "Desktop Menu"
        },
        {
          "type": "link_list",
          "id": "mobile_menu",
          "label": "Mobile Menu"
        },
        {
          "type": "radio",
          "id": "dropdown_type",
          "label": "Dropdown Type",
          "options": [
            {
              "value": "classic_dropdown",
              "label": "Classic"
            },
            {
              "value": "megamenu_dropdown",
              "label": "Mega Menu"
            }
          ],
          "default": "classic_dropdown"
        },
        {
          "type": "select",
          "id": "header_layout",
          "label": "Layout",
          "options": [
            {
              "value": "center_logo",
              "label": "Center Logo, Menu Left"
            },
            {
              "value": "left_logo",
              "label": "Left Logo, Menu Center"
            },
            {
              "value": "center_logo_minimal",
              "label": "Minimal, Center Logo"
            },
            {
              "value": "left_logo_minimal",
              "label": "Minimal, Left Logo"
            }
          ],
          "default": "center_logo"
        },
        {
          "type": "checkbox",
          "id": "transparent_option",
          "label": "Transparent Header"
        },
        {
          "type": "checkbox",
          "id": "sticky_header",
          "label": "Sticky Header"
        },
        {
          "type": "range",
          "id": "vertical_padding",
          "min": 0,
          "max": 20,
          "step": 1,
          "unit": "px",
          "label": "Vertical Padding",
          "default": 4
        },
        {
          "type": "range",
          "id": "horizontal_padding",
          "min": 0,
          "max": 14,
          "step": 1,
          "unit": "px",
          "label": "Horizontal Padding",
          "default": 4
        }
      ],
      "presets": [
        {
          "name": "Header",
          "settings": {
            "dropdown_type": "classic_dropdown"
          }
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}