{{ 'component--hero-slideshow.css' | asset_url | stylesheet_tag }}

<div class="swiper hero-swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if block.settings.image == blank %}
          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
          Slide 1
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "hero_mode",
          "label": "Hero Mode",
          "options": [
            {
              "value": "slideshow_mode",
              "label": "Slideshow"
            },
            {
              "value": "single_banner",
              "label": "Single Banner"
            }
          ]
        }
      ],
      "blocks": [
        {
          "name": "Slideshow Slide",
          "type": "slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "headline",
              "label": "Headline"
            },
            {
              "type": "textarea",
              "id": "description",
              "label": "Description"
            },
            {
              "type": "url",
              "id": "destination",
              "label": "URL"
            }
          ]
        },
        {
          "name": "Image Banner",
          "type": "banner",
          "settings": [
            {
              "type": "image_picker",
              "id": "banner_image",
              "label": "Image"
            },
            {
              "type": "url",
              "id": "destination",
              "label": "URL"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Hero",
          "settings": {
            "hero_mode": "slideshow_mode"
          }
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}