<div class="page-content-row">
  <h1>TEST</h1>
    {{ page.content }}
</div>


{% schema %}
    {
      "name": "Page Content",
      "tag": "section",
      "class": "page-content-section",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Page Content"
        }
      ],
      "presets": [
        {
          "name": "Page Content",
          "settings": {
            "title": "Page Content"
          }
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}
    