<style>
    .page-content-row {
        margin: 0 0 {{ section.settings.bottom_margin }}px 0;
        padding: 0 {{ section.settings.side_padding }}px;
    }
</style>

<div class="page-content-row">
  <h1>TEST</h1>
    {{ page.content }}
    <p>test</p>
</div>


{% schema %}
    {
      "name": "Page Content",
      "tag": "section",
      "class": "page-content-section",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Page Content"
        },
        {
            "type": "range",
            "id": "side_padding",
            "label": "Side Padding",
            "min": 0,
            "max": 24,
            "step": 1,
            "default": 12
        },
        {
            "type": "range",
            "id": "bottom_margin",
            "label": "Space Below",
            "default": 60,
            "min": 0,
            "max": 100,
            "step": 1
        }
      ],
      "presets": [
        {
          "name": "Page Content",
          "settings": {
            "title": "Page Content"
          }
        }
      ],
      "enabled_on": {
        "templates": ["*"]
      }
    }
{% endschema %}
    